
        <h1>Sudheer's wall</h1>
        <form action='/home' method='POST'>
            <button>Home</button>
        </form>
        <h1>Update or delete the reuired Quote</h1>
     
        
        
        <ul>
    <% for(var i=0; i<quotes.length; i++) {%>
        <li>
            <span><%= quotes[i].name %></span>
            <span><%= quotes[i].message %></span>
            <form action='/deleteQ' method='POST'>
                <button name='deleteB' value='<%= quotes[i].message %>'>Delete Quote</button>
            </form>
            <form action='/updateQ' method='POST'>
                <input type='text' placeholder='please update the message' name='updatedQ'>
                <button name='updateB' value='<%= quotes[i].message %>'>update Quote</button>
            </form>
            
        </li>
    <% } %>
</ul>
